<html>
    <head>
        <title>
            Results Home page
        </title>
    </head>
    <body>
        <h1>
            Welcome
        </h1>
        <h4>Click below to check results</h4>
        <a href="/results">Results</a>
    </body>
</html>